@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Mono:wght@200&display=swap');
#home-content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}
#hero-home-msg {
    grid-column: 1/2; 
    grid-row: 1/3;
    margin-top: 100px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: whitesmoke;
} 
#hero-msg h1 {
    text-align: center;
}
#hero-home-msg h4 {
    text-align: center;
    color: black;
    font-size: medium;

}
main section {
    text-align: center;
}
#background {
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}
body {
    background-color: white ;
    font-family: "Roboto Mono", sans-serif;
    font-size: 21px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #7E998A ;
    display: grid;
    grid-template-columns: 250px auto;
    margin-bottom: 100px;
}
nav a:hover {
    background-color: #fff8dc ; 
    color: black;
}
#background {
    background-color: #b0c4de;
}
.msg {
    background-color: #66cdaa;
    font-family: "Raleway", Helvetica, sans-serif;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #023047;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h4 {
    color: black;
    font-weight: bold;
    background-color: whitesmoke;
}

.msg h2 {
    color: black;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3 {
    color: white;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    padding: 5px;
}
footer a {
    color: white;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    text-decoration: none;
    padding: 5px;
}
footer a:hover {
    color: white;
}
.logo {
    width: 100px;
}
#hero-img {
    width: 100%;
} 
footer h3 a:hover {
    text-decoration: underline;
}
h2 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}
#logo_link {
    padding-top: 5px;
}
footer .social img {
    padding-top: 15px;
}
main section img {
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -100px;
    gap: 10px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
.benefits-grid {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    font-family: "Roboto Mono", Helvetica, sans-serif;
}
#hero-home-msg h1 {
    text-align: center;
}

.business-title {
    color: black;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.benefits-text {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-right: 30px;
    padding-top: 40px;
    padding-left: 40px;
    text-align: left;
}
.benefits-text li {
    text-indent: -1em;
    text-align: justify;
    padding-left: 1em;
    list-style-position: inside;
    list-style-type: disc;
    
}
.customers-text {
    grid-column: 2/3;
    grid-row: 2/3;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 40px;
    text-align: justify;
}
/* Portofolio*/
.portfolio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#hero-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -100px;
    gap: 10px;
}

#hero-portfolio-img {
    width: 100%;
    height: 90%;
} 
#hero-portfolio-msg {
    grid-column: 1/2; 
    grid-row: 1/3;
    margin-top: 100px;
    opacity: 6;
    background-color: white;
} 
.business-portfolio-title {
    margin-top: 10px;
    padding-left: 10px;
    color: black;
    font-weight: normal;
    text-align: left;
    font-size: 1.5em;

} 
.areas-text {
    margin-top: 5px; 
    margin-bottom: 50px;
    grid-column: 1;
    grid-row: 1;
}
.kitchen-text {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
    text-align: justify;
}
.kitchen-img {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    width: 80%;
}
.living-room-text {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    text-align: justify;  
}
.living-room-img {
    grid-column: 2/3;
    grid-row: 3/4;
    width: 80%;
    align-self: center;
}  
.family-room-text {
    grid-column: 1/2;
    grid-row: 4/5;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
    text-align: justify;
}
.family-room-img {
    grid-column: 2/3;
    grid-row: 4/5;
    padding-top: 30px;
    align-self: center;
}

/*contactuspage*/
.business-contactus-title {
    color: black;
    font-family: "Roboto Mono", Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.contactus-text {
    padding-top: 50px;
}

form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid black;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: .5em;
  }

  /*adding style from wdd130*/

  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;       
}
.moveDown {
    margin-top: 3em;
}


@media screen and (max-width: 900px) {
    #hero, #hero-portfolio, .benefits-grid, .portfolio-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-home-msg, #hero-portfolio-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}